@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.fa {
  font-size: 20px;
}

p,h2, i, h3{
  font-family: 'Roboto', sans-serif;
}

/* Asset cost*/
#sumOfTarget{
  font-weight: bold;
}

.fa {
  font-size: 43px;
}